node_modules
dist
build
coverage
.env
.DS_Store
*.log
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
*.log
*.gz
*.zip
*.tar
*.rar
*.7z
*.log
*.csv
*.dat
*.sql
*.sqlite
*.db
*.sqlite3
migrate-liveblocks.mjs